#### 1.	A newly opened multinational brand has to make their company logo based on the most occurring characters in the company name. Given a Company name in lower case letters, your task is to get the most common characters in the String. Display the common characters along with their occurrence count. 
##### Functions/Topics/Data Structures covered here :Dictionaries, Looping, functions

In [46]:
company=input("Enter company name :")
dict1={}
def c_charf(c_char):
    for i in c_char:
        keys=dict1.keys()
        if i in keys:
            dict1[i]+=1
        else:
            dict1[i]=1
    return dict1

c_charf(company)

Enter company name :accenture

{'a': 1, 'c': 2, 'e': 2, 'n': 1, 't': 1, 'u': 1, 'r': 1}

#### 2. Validate Email Address : ITP
     a. Check for '@' symbol, it should be only 1
     b. Only lower case letters are allowed
     c. Numbers are allowed
     e. No symbols allowed other than '.' & '_'
##### Functions/topics/Data structures used here : user defined functions,built-in-functions, list,  for loop, if else structure,logical operators

In [2]:
#Checking @ count in email
def check(at_rate):
    count=0
    for i in Email_address:
        if i=="@":
            count+=1
    if count==1:
        return lower_case(at_rate)
    else:
        print("Enter valid Email address :")
        return "Error :Email should have only one '@'-symbol"

#Checking lowercases in email    
def lower_case(lwr_case):
    count=0
    sym=["@","_","."]
    
    for i in Email_address:
        
        if ord(i) in range(65,91):
            count+=1

    if count==0:
        return symbols(symbols)
    else:
        print("Enter valid Email address :")
        return "Error :Upper Cases not allowed"

#Checking symbols in email    
def symbols(symbols):
    sym=["@","_","."]
    count=0
    for i in Email_address:
        if (i.isalnum()) or (i in sym):
            count+=1
            
    if count==len(Email_address):
        
        return "EMAIL IS VALIDATED"
    else:
        
        print("Enter valid Email address :")
        return "Error :No symbols allowed other than '.' & '_'"


Email_address=input("Enter your Email address :")   

check(Email_address)

Enter your Email address :Saik@gmail.com
Enter valid Email address :

'Error :Upper Cases not allowed'

#### 3. Validate PAN Card Number : ITP
1. Length must be 10 characters
2. First 5 characters must be upper case Aplphabets.
3. Next four characters must be Number (0 to 9)
4. Last character must be upper case alphabat
5. Must not contain any other special symbols

##### Functions/Topics/Data Structures Covered here: user defined functions,built-in functions,if else structure,logical operators

In [20]:
#checking if lenght is 10 and alpnum and last char
def Check3(lup):
    if lup.isalnum():
        if (len(lup)==10):
            
            if ord(lup[-1]) in range(65,91):
                  return upperf(lup)     
            else:
                return "Last character must be UpperCase Alphabet"
        else:
            return "Length must be equal to 10"
    else:
        return "No symbols are allowed"

#checking if first 5 letters are Upper case
def upperf(upper):
    count=0
    for i in range(0,5):
        if ord(upper[i]) in range(65,91):
            count+=1
    if count==5:
        return c_numf(upper)
    else:
        return "First 5 characters must be Upper Case letters"

#checking if first 6 to 9 charcters are numbers    
def c_numf(c_num):
    count=0
    for i in range(5,9):
        if ord(c_num[i]) in range(48,58):
            count+=1
    if count==4:
        return "PAN is Verified Successfully"
    else:
        return "six to nine characters must be number"


    
PAN=input("Enter PAN number :")        
        
Check3(PAN)

Enter PAN number :UTRED8794M

'PAN is Verified Successfully'

#### 4.	Convert list of Nested Dictionaries into a dataframe. [Input : Nested Dictionaries]  ITP

    a. Create Nested Dictionary (minimum 3 dictionaries within, Minimum 5 Keys each - can be different or same keys for all dictionaries )
    b. access elements of Nested Dictionary
        i.access the contents of Inner Dictionaries
        ii.access all the elements of Nested dictionary
        iii.Access Fare and Destination if Name= Abhi, in Passenger Dictionary
        iv. Iterate through Dictionaries and print each value 
   
###### Topics/Functions/Data Structures Covered here: Dictionaries,Nested Dictionaries, Nested For loops, Indexing,

In [13]:

dict1={'name' : 'sunny','age' :26,'city' : 'hyderabad','mobile':9876543210,'email':'sk@gmail.com'}
dict2={'name' : 'raju','weight' : 65,'city' : 'bangalore','mobile':9876534210,'email':'sk1@gmail.com'}
passenger={'name' : 'Abhi','fare' : 30,'Destination' : 'Delhi','mobile':9865473210,'email':'sk3@gmail.com'}

student_data = {1 :dict1 ,2 :dict2 ,3 :passenger }

In [12]:
#access content of inner dictinoary
student_data

{1: {'name': 'sunny',
  'age': 26,
  'city': 'hyderabad',
  'mobile': 9876543210,
  'email': 'sk@gmail.com'},
 2: {'name': 'raju',
  'weight': 65,
  'city': 'bangalore',
  'mobile': 9876534210,
  'email': 'sk1@gmail.com'},
 3: {'name': 'Abhi',
  'fare': 30,
  'Destination': 'Delhi',
  'mobile': 9865473210,
  'email': 'sk3@gmail.com'}}

In [11]:
#access all the elements of Nested dictionary
print(student_data[1])
print(student_data[2])
print(student_data[3])

{'name': 'sunny', 'age': 26, 'city': 'hyderabad', 'mobile': 9876543210, 'email': 'sk@gmail.com'}
{'name': 'raju', 'weight': 65, 'city': 'bangalore', 'mobile': 9876534210, 'email': 'sk1@gmail.com'}
{'name': 'Abhi', 'fare': 30, 'Destination': 'Delhi', 'mobile': 9865473210, 'email': 'sk3@gmail.com'}

In [18]:
#iii.Access Fare and Destination if Name= Abhi, in Passenger Dictionary

for s3_key,s3_value  in student_data[3].items():
    if s3_value=="Abhi":
        print(student_data[3]['fare'])
        print(student_data[3]['Destination'])

30
Delhi

In [9]:
#iv. Iterate through Dictionaries and print each value 


for s_key,s_value  in student_data.items():
    print("\n dictionary :", s_key)
    
    for k in s_value:
        print(k,":",s_value[k])

 dictionary : 1
name : sunny
age : 26
city : hyderabad
mobile : 9876543210
email : sk@gmail.com

 dictionary : 2
name : raju
weight : 65
city : bangalore
mobile : 9876534210
email : sk1@gmail.com

 dictionary : 3
name : Abhi
fare : 30
city : Delhi
mobile : 9865473210
email : sk3@gmail.com

#### 5. Find the Fibonacci Series and their cubes, using Map and Lambda and reduce Functions.
##### Functions used here: reduce, map, lambda

In [19]:
from functools import reduce

n=int(input("enter range:"))

redce=lambda x, _: x+[x[-1]+x[-2]]
fib = lambda n: reduce(redce, range(n-2), [0, 1])

print("fibonacci series :",fib(n))

print("**************")

cube =lambda x:x**3
print("Cube of fibonacci series:",list(map(cube,fib(n))))

enter range:5
fibonacci series : [0, 1, 1, 2, 3]
**************
Cube of fibonacci series: [0, 1, 1, 8, 27]